/* TOP BAR*/
#topbar {
	color: $brand-primary;
	transition: all 0.5s ease;
	.header_main_menu_wrapper {
		width: 100%;
		padding: 15px 0;
		line-height: auto;
		transition: all 0.5s ease;
		.widget {
			.textwidget {
				transition: all 0.5s ease;
				ul.contacts {
					list-style-type: none;
				    padding-left: 0px;
				    margin-bottom: 0px;
				    padding-top: 6px;
					li {
						display: inline-block;
					    line-height: 14px;
    					font-size: 12px;
    					margin-right: 30px;
					    padding-right: 30px;
					    border-right: 2px solid #cccccc;
					    &:nth-last-child(1) {
					    	margin-right: 0px;
						    padding-right: 0px;
						    border: none;
					    }
    					span {
    						font-weight: bold;
    					}
					}
				}
				.btn-appointment {
					text-align: right;
				}
			}
		}
	}
}

header.navbar {
    background-color: $brand-green;
    padding: 22px 15px;
    border-radius: 0;
    @media (max-width: 767px) {
    	padding: 20px;
    }
    .navbar-header {
    	@extend .col-lg-3;
    	@extend .col-md-12;
    	float: left;
    	padding-right: 0px;
    	padding-left: 0px;
    	transition: all 0.5s ease;
    	@media (max-width: 991px) {
    		a {
    			display: inline-block;
    		}
    		.navbar-toggler {
    			display: inline-block !important;
			    float: right;
			    margin-top: 14px;
			    border: 1px solid $brand-white;
			    color: $brand-white;
			    transition: all 0.5s ease;
			    &:hover,
			  	&:focus {
			  		border: 1px solid $brand-aqua;
			  	}
    		}
    	}
    	@media (max-width: 543px) {
    		img {
    			max-width: 200px;
    		}
    		.navbar-toggler {
    			margin-top: 1px;
    		}
    	}
    }
    .navbar-toggleable-xs {
    	@extend .col-md-9;
    	float: left;
    	padding-right: 0px;
    	padding-left: 0px;
    	transition: all 0.5s ease;
    	.menu-primary-navigation-container {
    		ul.nav {
    			float: right;
    			margin-top: .5em;
			    li {
			    	display: inline-block;
			    	margin: 0 8px;
			    	a {
			    		@extend .btn;
					    color: $brand-white;
					    transition: all 0.2s ease;
					    padding: 0!important;
					    border-radius: 0;
					    border: none;
					    margin-top: 0px;
					    font-size: 12px;
					    font-weight: 100;
					    font-family: Montserrat,sans-serif;
					    height: 35px;
    					line-height: 40px;
					    &:hover,
					  	&:focus {
					  		border-bottom: 3px solid;
					  	}
			    	}
			    	&.current-menu-item {
			    		a {
					  		border-bottom: 3px solid;
				    	}
			    	}
						&.dropdown {
							.dropdown-menu {
								transition: all 0.2s ease;
							}
							&:hover {
								a {
									border-bottom: none;
								}
							}
						}
			    }
    		}
    		#btn {
    			position: absolute;
			    right: 0px;
			    width: 37px;
			    height: 30px;
			    top: 30px;
			    border-radius: 0;
			    color: #fff;
			    text-align: center;
			    padding: 0;
			    cursor: pointer;
    		}
    		.click {
			  	display:block;
			  	background: url(../images/nav-icon.png);
			    width: 37px;
			    height: 30px;
			}
    		.expandedTxt {
			  	display:none;
			  	background: url(../images/nav-icon.png);
			    width: 37px;
			    height: 30px;
			}
			#btn.expanded .expandedTxt {
			 	display:block;
			 	background: url(../images/nav-close-icon.png);
			    width: 37px;
			    height: 30px;
			}
			#btn.expanded .click {
			 	display:none;
			 	background: url(../images/nav-icon.png);
			    width: 37px;
			    height: 30px;
			}

			button#responsive-menu-button {
				top: 62px !important;
			}
    	}
    }
}

button#responsive-menu-button {
	@media (max-width: 991px) {
		position: absolute !important;
	    top: 28px !important;
    	right: 30px !important;
        width: 55px !important;
    	height: 50px !important;
        background: transparent !important;
	    border: 1px solid #fff !important;
	    border-radius: 10px !important;
    	.responsive-menu-box {
    		width: 25px !important;
    		height: 30px !important;
    	}
	}
	@media (max-width: 782px) {
		top: 24px !important;
    }
    @media (max-width: 543px) {
    	right: 15px !important;
        top: 24px !important;
	    width: 45px !important;
	    height: 45px !important;
    }
}
body.logged-in.admin-bar {
	button#responsive-menu-button {
		@media (max-width: 991px) {
		    top: 60px !important;
		}
		@media (max-width: 782px) {
			top: 73px !important;
	    }
	    @media (max-width: 543px) {
	        top: 70px !important;
	    }
	}
}

/*Nav Dropdown*/

.open>.dropdown-menu {
	background-color: #000000;
	margin: 0;
  padding: 0;
  border-radius: 0;
	li {
		display: inherit !important;
		margin: 0 !important;
		a {
			display: inherit !important;
			text-align: left !important;
			margin: 0 15px !important;
			&:hover,
			&:focus {
				color: #000 !important;
				text-decoration: none !important;
				border:  none !important;
			}
		}
		&:hover,
		&:focus {
			background-color: #fff !important;
			a {
				color: #000 !important;
				text-decoration: none !important;
				border:  none !important;
			}
		}
	}
}

/* Nav Responsiveness */
#responsive-menu-container {
	z-index: 999999 !important;
	#responsive-menu-wrapper {
		#responsive-menu-additional-content {
			background-color: $brand-green;
		}
		ul#responsive-menu {
			li {
				&.menu-item-has-children {
					a {
						.responsive-menu-subarrow {
							font-size: 0;
						  	background: $brand-green;
							&.responsive-menu-subarrow-active {
								img {
									transform: rotate(180deg);
								}
							}
						}
					}
				}
			}
		}
	}
}